html {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: $global-width;
}

body {
    //margin: 2em;
    // background-image: url("../images/background.jpg");
    // background-repeat: repeat-y;
}

.off-canvas-content {
    
    background-image: url("../images/background.jpg");
    background-size: 700px auto;
    background-repeat: repeat;
    overflow-y: hidden;
}

a {
    color: $dark-gray;
    font-family: "wacky_font";
    text-transform: uppercase;
    font-size: 1.5em;
}

a:hover {
    color: $black;
    -moz-transition: color .25s;
    -webkit-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}

h1 {
    font-family: 'AvenirNextLTPro-HeavyCnIt';
    color: $wackyTitle;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $dark-gray;
    letter-spacing: -1px;
}

h2 {
    letter-spacing: -2px;
}

p {
    letter-spacing: -.25px;
}

#about,
#skills,
#work {
    margin: 2em;
    position: relative;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

.carousel{
    img{
        //width: 100%;
    }
}

.secTitle {
    text-align: center;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4em;
    margin-bottom: 2em;
    .titleLine {
        -webkit-flex: 2 0 0;
        flex: 2 0 0;
        margin-bottom: 30px;
        border: .1em dotted $dark-gray;
        border-style: none none dashed;
    }
    .titleText {
        font-family: 'AvenirNextLTPro-HeavyCnIt';
        color: $wackyTitle;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $dark-gray;
        font-size: 2em;
        letter-spacing: -1px;
        -webkit-flex: 1 0 0;
        flex: 1 0 0;
        min-width: 150px;
    }
}

//vertical offcanvas menu
.vertical {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 2em;
    font-size: .75em;
    .divider {
        border: .1em dotted $dark-gray;
        border-style: dashed none none;
        margin-bottom: 1.5em;
    }
    .text_btn {
        padding-bottom: 1em;
        font-size: 1.25em;
    }
    .social_btn {
        font-size: 1.25em;
        padding-bottom: .75em;
        i {
            margin-top: -.1em;
        }
        span {
            font-family: 'Arial';
            font-size: .5em;
            margin-left: .5em;
            text-transform: lowercase;
        }
    }
}