#labs {
    //display: flex;
    @include breakpoint(medium up) {
        padding-top: 5%;
    }
    h2 {
        text-align: center;
    }
    p {
        text-align: center;
        padding-bottom: 1em;
    }
    
    #labs_image {
        
        //background-color: aqua;
        
        img {
            height: auto;
            width: 415px;
            box-shadow: 4px 4px 4px #ccc;
            @include breakpoint(large up) {}
            @include breakpoint(medium only) {}
            @include breakpoint(small down) {}
        }
    }
    #labs_copy {

        //background-color: aqua;
  
        p {
            text-align: left;
        }
         
        @include breakpoint(medium only) {
            padding-top: 5%;
            //padding-right: 3%;
        }
        @include breakpoint(large up) {
            padding-top: 5%;
            padding-left: 8%;
        }
    }
    
        
    margin-bottom: 5em;
}