#skills {
    //background-color: bisque;
    #skills_image {
        img {
            height: auto;
            width: 415px;
            box-shadow: 4px 4px 4px #ccc;
            @include breakpoint(large up) {}
            @include breakpoint(medium only) {}
            @include breakpoint(small down) {}
        }
    }
    #skills_copy {
        // background-color: aqua;
        @include breakpoint(medium only) {
            padding-top: 5%;
            //padding-right: 3%;
        }
        @include breakpoint(large up) {
            padding-top: 5%;
            padding-left: 8%;
        }
    }
}