#skills {
    #skills-image {
        @include breakpoint(medium up) {
            //float: left;
            
        }
        
       // background-color: aqua;
    }
    #skills_copy {
        @include breakpoint(medium up) {
            //float: right;
            margin-top: 5%;
            padding-right: 3%;
        }
        
        @include breakpoint(large up) {
            padding-left: 3%;
            //background-color: aqua;
        }
    }
}