#work {
    @include breakpoint(medium up) {
        padding-top: 5%;
    }
    h2 {
        text-align: center;
    }
    p {
        text-align: center;
    }

    
    
    #projects {
        list-style-type: none;
        margin-top: 3em;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: row; 
        justify-content: space-around;
        flex-wrap: wrap;
        
        @media only screen and (min-width: 734px) {
        //@include breakpoint(medium up) {
            //set image width
            li:nth-of-type(1),
            li:nth-of-type(2),
            li:nth-of-type(3),
            li:nth-of-type(4),
            li:nth-of-type(8),
            li:nth-of-type(9),
            li:nth-of-type(10),
            li:nth-of-type(11)
            { 
                min-width: 292px;
                .thumb-container{
                    min-width: 292px;
                }
                
                @media only screen and (min-width: 734px) and (max-width: 1046px) {
                    padding-left: 25px;
                    padding-right: 25px;
                }
            
                
            }

            li:nth-of-type(5),
            li:nth-of-type(6),
            li:nth-of-type(7),
            li:nth-of-type(12),
            li:nth-of-type(13),
            li:nth-of-type(14){
                
                min-width: 408px;
                .thumb-container{
                    min-width: 408px;
                }
                
                @media only screen and (min-width: 1046px) and (max-width: 1334px) {
                    padding-left:  45px;
                    padding-right: 45px;
                }
                
                @media only screen and (min-width: 734px) and (max-width: 1046px) {
                    padding-left: 150px;
                    padding-right: 150px;
                }
                
            }
            
        
            li:nth-of-type(15)
            {
                min-width: 408px;
                .thumb-container{
                    min-width: 408px;
                }
                
                @media only screen and (min-width: 1046px) and (max-width: 1334px) {
                    padding-left: 150px;
                    padding-right: 150px;
                }
                
            }

        }
        
        
        @media only screen and (min-width: 1046px) and (max-width: 1334px) {
            
            li:nth-of-type(1) { order: 1; }
            li:nth-of-type(2) { order: 2; }
            li:nth-of-type(3) { order: 3; }
            
            li:nth-of-type(5) { order: 4; }
            li:nth-of-type(6) { order: 5; }
            
            li:nth-of-type(4) { order: 6; }
            li:nth-of-type(8) { order: 7; }
            li:nth-of-type(9) { order: 8; }

            li:nth-of-type(7) { order: 9; }
            li:nth-of-type(12) { order: 10; }

            li:nth-of-type(13) { order: 11; }
            li:nth-of-type(14) { order: 12; }
            
            li:nth-of-type(10) { order: 13; }
            li:nth-of-type(11) { order: 14; }
                        
            li:nth-of-type(15) { order: 15; }
        }
        
        @media only screen and (min-width: 734px) and (max-width: 1046px) {
    
            li:nth-of-type(1) { order: 1; }
            li:nth-of-type(2) { order: 2; }
            
            li:nth-of-type(3) { order: 3; }
            li:nth-of-type(4) { order: 4; }
            
            li:nth-of-type(5) { order: 5; }
            li:nth-of-type(6) { order: 6; }
            
            li:nth-of-type(8) { order: 7; }
            li:nth-of-type(9) { order: 8; }

            li:nth-of-type(7) { order: 9; }
            li:nth-of-type(12) { order: 10; }
            
            li:nth-of-type(10) { order: 11; }
            li:nth-of-type(11) { order: 12; }
            
            li:nth-of-type(13) { order: 13; }
            li:nth-of-type(14) { order: 14; }
                        
            li:nth-of-type(15) { order: 15; }
        }
        
        
        li {
            text-align: center;
            padding-bottom: 3em;
            //margin-right: 15px;
                padding-left: 10px;
                padding-right: 10px;


            background-color: antiquewhite;
            
          /*  @media only screen and (min-width: 1046px) and (max-width: 1334px) {
            }
            
            @media only screen and (min-width: 734px) {

            }
            
            @media only screen and (max-width: 734px) {

            }*/

            @media #{$xlarge-up} {
                //width:25%;
                //padding-left: 10px;
                //padding-right: 10px;
            }
            
            @media only screen and (min-width: 1046px) and (max-width: 1334px) {
                //width:33%;
               // padding-left: 25px;
               // padding-right: 25px;
            }
            
            @media only screen and (min-width: 734px) and (max-width: 1046px) {
                //width:50%;
            }
            
            @media only screen and (max-width: 734px) {
                //width:100%;
            }

            .thumb-container {

                .marker{
                    position: absolute;
                    top:0;
                    left:0;
                }
                
                width:100%;
                //background-color: black;
                position: relative;
                display: inline-block;
                box-shadow: 3px 3px 3px #ccc;
                img {
                    display: block;
                    margin: 0;
                    width:100%;
                    //min-width: 292px;
                    height: auto;
                }
                .cardDetails {
                    overflow: hidden;
                    width: inherit;
                    height: auto;
                    background: rgba(200, 66, 41, 1);
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    color: white;
                    opacity: 0;
                    text-align: left;
                    -webkit-transition: opacity 0.5s;
                    -moz-transition: opacity 0.5s;
                    -o-transition: opacity 0.5s;
                    transition: opacity 0.5s;
                    .copy {
                        margin-top: 1em;
                        margin-left: 1em;
                        margin-right: 1em;

                        .titleText {
                            font-family: 'AvenirNextLTPro-HeavyCnIt';
                            color: $wackyTitle;
                            -webkit-text-stroke-width: 2px;
                            -webkit-text-stroke-color: $black;
                            font-size: 2.25em;
                            letter-spacing: -1px;
                            text-transform: uppercase;
                        }
                        .divider {
                            border: .1em dotted $white;
                            border-style: dashed none none;
                            margin-top: .25em;
                        }
                        .header {
                            margin-top: .5em;
                            margin-bottom: .5em;
                            line-height: 1.5em;
                            font-size: 1em;
                        }
                        span {
                            font-weight: bold;
                        }
                        .description {
                            margin-bottom: .5em;
                            line-height: 1.25em;
                            font-size: .9em;
                        }
                        .btn {
                            margin-top: .5em;
                            font-weight: bold;
                            text-align: right;
                            cursor: pointer;
                            -webkit-transition: color 0.25s;
                            -moz-transition: color 0.25s;
                            -o-transition: color 0.25s;
                            transition: color 0.25s;
                        }
                        .btn:hover {
                            color: $wackyTitle;
                        }
                    }
                }
            }
            .thumb-container:hover > .cardDetails {
                opacity: 1;
            }
        }
    }
}