#work {
    @include breakpoint(medium up) {
        padding-top: 5%;
    }
    h2 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    ul {
        list-style-type: none;
        margin-top: 3em;
        
        li {
            text-align: center;
            padding-bottom: 3em;
            .thumb-container {
                background-color: beige;
                position: relative;
                display: inline-block;
                
                img {
                    display: block;
                    margin: 0;
                }
                
                .overlay{
                    width: 100%;
                    height: 100%;
                    background:rgba(0,0,0,0.5);
                    position:absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    color: white;
                    opacity: 0;
                    -webkit-transition: opacity 0.5s;
                    -moz-transition: opacity 0.5s;
                    -o-transition: opacity 0.5s;
                    transition: opacity 0.5s;
                }

            }
            

            .thumb-container:hover > .overlay {
                opacity: 1;
            }
        }
    }

}