#footer {
    position: relative;
    height: 75px;
    width: 100%;
    background-image: url('../images/footer_tile.jpg');
    background-repeat: repeat-x;
    bottom:0;
    #footer-image {
        position: absolute;
        bottom: -5px;
        right: 0;
        cursor:pointer;
        img{
            width:88px;
            height:103px;
        }
        
        /*@media only screen and (max-width: 350px) {
            
        img{
            width:68px;
            height:auto;
            }
            
        }*/
        
        #wp_caption {
            position: absolute;
            color: $white;
            font-size: 1em;
            top: 70px;
            left: -80px;
            font-family: "wacky_font";
             @media only screen and (max-width: 400px) {
                display: none;
            }
        }
    }
    ul {
        margin-left: 2em;
        text-align: center;
        padding-top: 1em;
        @include breakpoint(medium down) {
            text-align: left;
        }
        list-style-type: none;
        a:hover {
            .social_btn {
                color: $wackyTitle;
            }
            .email_btn {
                color: $wackyTitle;
            }
        }
        li {
            display: inline-block;
            margin-right: .15em;
        }
    }
    .email_btn {
        width: 43px;
        height: 43px;
        color: #b53a2c;
        font-size: 1.75em;
        margin-right: .25em;
        text-align: center;
        -moz-transition: color .25s;
        -webkit-transition: color .25s;
        -o-transition: color .25s;
        transition: color .25s;
        @include breakpoint(small down) {
            font-size: 1.5em;
        }
    }
    .email_txt {
        font-family: "wacky_font";
        font-size: .75em;
        color: $white;
        margin-right: 2em;
        text-transform: lowercase;
        @include breakpoint(medium down) {
            display: none;
        }
    }
    .social_btn {
        background-image: url('../images/button_backing.jpg');
        width: 43px;
        height: 43px;
        color: $white;
        font-size: 1.35em;
        padding-top: .2em;
        text-align: center;
        -moz-transition: color .25s;
        -webkit-transition: color .25s;
        -o-transition: color .25s;
        transition: color .25s;
        @include breakpoint(small down) {
            width: 35px;
            height: 35px;
            font-size: 1em;
        }
    }
}