html {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: $global-width;
}

body {
    margin: 2em;
    background-image: url("../images/background.jpg");
    background-repeat: repeat-y;
}

h1 {
    font-family: 'AvenirNextLTPro-HeavyCnIt';
    color: $wackyTitle;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $dark-gray;
    letter-spacing: -1px;
}

h2 {
    letter-spacing: -2px;
}

p {
    letter-spacing: -.25px;
}
.secTitle {
    text-align: center;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    .titleLine {
        -webkit-flex: 2 0 0;
        flex: 2 0 0;
        margin-bottom: 40px;
        border: .1em dotted $dark-gray;
        border-style: none none dashed;
    }
    .titleText {
        font-family: 'AvenirNextLTPro-HeavyCnIt';
        color: $wackyTitle;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $dark-gray;
        font-size: 3em;
        letter-spacing: -1px;
        -webkit-flex: 1 0 0;
        flex: 1 0 0;
        min-width: 150px;
    }
}