#header {
    position:relative;
    top:0;
    height:50px;
    width:100%;
    //background-color: azure;
    
    #logo {
        margin-top: .5em;
        margin-left: 1em;
    }
    
    i {
        position: absolute;
        right:0;
        margin-right: .5em;
        margin-top:.25em;
        font-size: 2em;
        @include breakpoint(medium up) {
            display: none;
        }
    }
    
    .menu{
        
        @include breakpoint(small down) {
            display: none;
        }
        position: absolute;
        top:0;
        right:0;
        margin-right: 1em;
        margin-top:.5em;
        font-size: .75em;
        
    }
    
}